[Unit]
Description=node demo app
After=network.target

[Service]
Type=simple
User=daemon
ExecStart=/usr/bin/node /opt/node-demo-app/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
